In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("train_data.csv")
df.head()

,job,marital,education,default,housing,loan,contact,day,month,poutcome,weight,label
0,management,married,mask2,no,yes,no,unknown,5,may,unknown,1,38
1,technician,single,secondary,no,yes,mask5,unknown,5,may,unknown,1,54
2,entrepreneur,married,secondary,no,yes,yes,unknown,5,mask8,unknown,1,67
3,blue-collar,married,unknown,no,mask4,no,unknown,5,may,unknown,1,41
4,unknown,single,unknown,no,no,no,unknown,mask7,may,unknown,1,29

In [8]:
df["weight"].unique()

array([1], dtype=int64)